@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  background: #fff;
}

body {
  margin: 0;
}

main {
  margin-top: 6rem;
}
.app {
  max-width: 40rem;
  width: 90%;
  margin: 2rem auto;
  background-image: linear-gradient(to bottom right, #469CC8, #68C6A7);
}

